html, body 
{
    width: 100%;
    height: 100%;
    margin: 0;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    flex-shrink: 0;
    font-family: arial;
    font-size: 13px;
}

section
{
    flex-grow: 1;

}justify-content

header
{
    width: 300 px;
    display: flex;
    justify-content: space-between;
    
}

.navbar
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: flex-start;
    
   
}

body
{
    font-size: small;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

ul
{
    list-style-type: none;
    list-style: none;
    display: flex;
    flex-direction: row;
}

li
{
    margin-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section
{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding-bottom: 275px;   
}

.logo
{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    
}

.recherche
{   
    background-color: transparent;
    border: none;
    margin: 0;
    display: flex;
    justify-content: center;
    box-shadow: #757575;
}

.bouton
{
    
    height: 36px;
    line-height: 27px;
    border-radius: 2px;
    color: rgba(117,117,127,1);
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 20px 100px;
    min-width: 54px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    
}

.bouton1
{
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
	padding:6px 0 6px 0;
	border-radius:2px;
    box-shadow:1px 1px 3px #aaa;
    color: rgba(117,117,127,1);
    cursor: default;
}

.bouton2
{
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
	padding:6px 0 6px 0;
	border-radius:2px;
    box-shadow:1px 1px 3px #aaa;
    cursor: default;
}

.footerpays
{
    position: absolute;
    bottom: 47px; width: 100%;
    color: rgba(0,0,0,.54);
    background-color: #F2F2F2;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    border-top: 1px solid rgba(95,99,104,0.15);
}

footer
{
    position: absolute;
    bottom: 0px; width: 100%;
    background-color: #F2F2F2;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    border-top: 1px solid rgba(95,99,104,0.15);
    justify-content: space-between;
}

.footerg
{
    
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    
}


.footerd
{
    max-width: 500px;
    display: flex;
}

a
{
    color: #757575;
    text-decoration: none;
}
 a:hover
 {
    text-decoration: underline; 
    color: #757575;
 }

 .connexion
 {
    padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#478bf9;
	color:#fff;
	border-radius:1px;
	width:80px;
	border:none;
 }